#!/usr/bin/env python3
"""Minimal kconfig-tweak compatible with NuttX's sethost.sh.

Supports: --file <path> --enable <KEY> --disable <KEY>
          --set-str <KEY> <VAL> --set-val <KEY> <VAL>
"""
import sys, re

args = sys.argv[1:]
config_file = '.config'
for i, arg in enumerate(args):
    if arg == '--file' and i + 1 < len(args):
        config_file = args[i + 1]
        break

def _patch(key, replacement):
    try:
        with open(config_file, 'r') as f:
            content = f.read()
        pattern = rf'^(# )?{re.escape(key)}[ =].*$'
        new_content, count = re.subn(pattern, replacement, content, flags=re.MULTILINE)
        if count == 0:
            new_content += f'\n{replacement}\n'
        with open(config_file, 'w') as f:
            f.write(new_content)
    except FileNotFoundError:
        pass

i = 0
while i < len(args):
    if args[i] in ('--set-str', '--set-val') and i + 2 < len(args):
        key, val = args[i + 1], args[i + 2]
        fmt = f'{key}="{val}"' if args[i] == '--set-str' else f'{key}={val}'
        _patch(key, fmt)
        i += 3
    elif args[i] == '--enable' and i + 1 < len(args):
        _patch(args[i + 1], f'{args[i + 1]}=y')
        i += 2
    elif args[i] == '--disable' and i + 1 < len(args):
        _patch(args[i + 1], f'# {args[i + 1]} is not set')
        i += 2
    elif args[i] == '--file':
        i += 2
    else:
        i += 1
