CONFIG_OVE_APP_EXAMPLE_RUST=y
CONFIG_OVE_APP_LANG_RUST=y
CONFIG_OVE_RTOS_ZEPHYR=y
CONFIG_OVE_BOARD_QEMU_MPS2_AN500=y
CONFIG_OVE_RUST_TOOLCHAIN_SYSTEM=y
CONFIG_OVE_RUST_TARGET="thumbv7em-none-eabi"
CONFIG_OVE_SYNC=y
CONFIG_OVE_CONSOLE=y
CONFIG_OVE_LOG=y
CONFIG_OVE_TIME=y
CONFIG_OVE_BSP=y
CONFIG_OVE_LVGL=y
CONFIG_OVE_QUEUE=y
CONFIG_OVE_TIMER=y
CONFIG_OVE_LOG_LEVEL_INF=y
# QEMU has no I2S, SD card, or CMSIS-DSP hardware
# CONFIG_ZEPHYR_I2S is not set
# CONFIG_ZEPHYR_CMSIS_DSP is not set
# CONFIG_ZEPHYR_SD_FILESYSTEM is not set
CONFIG_ZEPHYR_SOURCE_WEST=y
