CONFIG_OVE_APP_EXAMPLE_NET=y
CONFIG_OVE_APP_LANG_C=y
CONFIG_OVE_RTOS_NUTTX=y
CONFIG_OVE_BOARD_STM32F746G_DISCO=y
CONFIG_OVE_SYNC=y
# CONFIG_OVE_AUDIO is not set
# CONFIG_OVE_FS is not set
CONFIG_OVE_CONSOLE=y
CONFIG_OVE_LOG=y
CONFIG_OVE_TIME=y
CONFIG_OVE_BSP=y
# CONFIG_OVE_LVGL is not set
CONFIG_OVE_QUEUE=y
CONFIG_OVE_TIMER=y
CONFIG_OVE_EVENTGROUP=y
# CONFIG_OVE_SHELL is not set
# CONFIG_OVE_NVS is not set
# CONFIG_OVE_WATCHDOG is not set
# CONFIG_OVE_WORKQUEUE is not set
# CONFIG_OVE_STREAM is not set
CONFIG_OVE_NET=y
CONFIG_OVE_NET_HTTP=y
CONFIG_OVE_NET_MQTT=y
CONFIG_OVE_NET_HTTPD=y
CONFIG_OVE_LOG_LEVEL_INF=y
CONFIG_OVE_ZERO_HEAP=y
CONFIG_OVE_NET_HTTP_MAX_RESPONSE=8192
CONFIG_NUTTX_SOURCE_GIT=y
CONFIG_OVE_TOOLCHAIN_DOWNLOAD=y
