CONFIG_OVE_RTOS_POSIX=y
CONFIG_OVE_BOARD_WASM=y
CONFIG_OVE_APP_EXAMPLE_C=y
CONFIG_OVE_APP_LANG_C=y
CONFIG_OVE_SIM=y
CONFIG_OVE_SYNC=y
CONFIG_OVE_CONSOLE=y
CONFIG_OVE_LOG=y
CONFIG_OVE_TIME=y
CONFIG_OVE_BSP=y
CONFIG_OVE_BOARD=y
CONFIG_OVE_GPIO=y
CONFIG_OVE_LED=y
CONFIG_OVE_LVGL=y
CONFIG_OVE_QUEUE=y
CONFIG_OVE_TIMER=y
CONFIG_OVE_EVENTGROUP=y
CONFIG_OVE_WATCHDOG=y
CONFIG_OVE_NVS=y
CONFIG_OVE_SHELL=y
